.hero-box {
    overflow: hidden;
    height: inherit;
    width: 100%;
    position: relative;

    .hero-logo {
        width: 100%;
        height: 366px;
        background-repeat: no-repeat;
        // url(../../assets/images/index-logo.svg),
        background-image: url("../../assets/images/index-portal-sides.svg");
        background-position: center;
        -webkit-user-select: none;
        user-select: none;
        .lessTransformCenter();

        .hero-logo-circles {
            width: 366px;
            height: 366px;
            margin: auto;
            position: relative;

            .hero-logo-circle {
                position: absolute;
                left: 0;
                top: 0;
                animation: hero-logo-circle 1s linear infinite;
                will-change: transform;
            }
            // .loop(10);
            .hero-logo-circle:nth-child(1) {
                animation-duration: 30s;
            }

            .hero-logo-circle:nth-child(2) {
                animation-duration: 40s;
            }

            .hero-logo-circle:nth-child(3) {
                animation-duration: 50s;
            }

            .hero-logo-circle:nth-child(4) {
                animation-duration: 60s;
            }

            .hero-logo-circle:nth-child(5) {
                animation-duration: 70s;
            }

            .hero-logo-circle:nth-child(6) {
                animation-duration: 80s;
            }

            .hero-logo-circle:nth-child(7) {
                animation-duration: 90s;
            }

            .hero-logo-circle:nth-child(8) {
                animation-duration: 100s;
            }

            .hero-logo-circle:nth-child(9) {
                animation-duration: 110s;
            }

            .hero-logo-circle:nth-child(10) {
                animation-duration: 120s;
            }
        }

    }

    .hero-play-audio {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 120px;
        height: 120px;
        .hero-play-album-name{
            font-size: 12px;
            color: #fff;
        }
        .hero-play-audios {
            overflow: hidden;
            display: block;
            padding:0;
            border:0;
            margin:0;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 0;
        }
        .audios-animation{
            animation: hero-logo-circle 1s linear infinite;
            will-change: transform;
            animation-duration: 12s;
        }
    }

    // 控制台
    .hero-play-panel{
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 65px;
        // 播放时间
        .hero-play-time{
            padding: 2px 15px;
            font-size: 12px;
            color: #c7c7c7;
            .lessBoxFlexSB();
        }
        // 进度条
        .hero-play-progress {
            padding: 1px 0;
            margin: 0 15px;
            height: 3px;
            background: #1e2833;
            border-radius: 1px;
            cursor: pointer;
            .hero-play-progress-bar{
                width: 0;
                height: 3px;
                border-radius: 1px;
                background: #dda032;
            }
            .transition-effect{
                transition: .2s;
            }
        }
        // 仪表盘
        .hero-play-controls{
            height: 20px;
            padding: 10px 15px;
            .lessBFX();
            >div{
                height: 20px;
                display: inline-block;
                cursor: pointer;
            }
            .hero-play-controls-playpaused{
                width: 12px;
                margin-right: 18px;
            }
            .play{
                background: url('../../assets/sprite_radio_play.png') no-repeat center;
                background-position: 0 0;
            }
            .pused{
                background: url('../../assets/sprite_radio_play.png') no-repeat center;
                background-position: 0 -20px;
            }

            .hero-play-controls-playnext{
                background: url('../../assets/sprite_radio_play.png') no-repeat center;
                background-position: 0 -40px;
                width: 15px;
                margin-right: 18px;
            }

            .hero-play-controls-playvoice{
                width: 19px;
                margin-right: 10px;
            }
            .voice-off{
                background: url('../../assets/sprite_radio_play.png') no-repeat center;
                background-position: 0 -218px;
            }
            .voice-on{
                background: url('../../assets/sprite_radio_play.png') no-repeat center;
                background-position: 0 -60px;
            }


            .hero-play-controls-playtracks{
                margin: 10px 0;
                width: 100px;
                height: 2px;
                background: rgba(211,110,45,.1);
                position: relative;
                .playtracks-progress{
                    width: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 2px;
                    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#B2000000', endColorstr='#B2000000');
                    background: rgba(211,110,45,.7);
                    // background: red;
                    .playtracks-flag{
                        position: absolute;
                        top: -4px;
                        right: -4px;
                        width: 10px;
                        height: 10px;
                        background: url('../../assets/sprite_radio_play.png') no-repeat center;
                        background-position: 0 -200px;
                        opacity: 1;
                        filter: none;
                    }
                }
            }
        }
    }


    // 手势
    .hero-gesture{

        position: relative;

        .hero-gesture-box{
            width: 100%;
            height: 30px;
            padding: 5px 0;
            display: flex;
            justify-content: space-between;
            -webkit-app-region: drag;
            &:hover{
                .hero-gesture-search{
                    // top: 5px;
                }
            }

            .hero-gesture-search{
                transition: .25s;
                margin: 0 auto;
                // position: absolute;
                // top: -35px;
                .hero-gesture-search-ipt{
                    font-size: 12px;
                    width: 300px;
                    height: 30px;
                    border:0;
                    border-radius: 4px;
                    // background: transparent;
                    text-indent: 1rem;
                }
            }

        }
        .hero-gesture-closed{
            position: absolute;
            top: 5px;
            right: 0;
            width: 50px;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            color: #fff;
            -webkit-app-region: no-drag;
        }
    }
}

@keyframes hero-logo-circle {
    100% {
        transform: rotate(1turn);
    }
}
